.button-container {
  display: flex;
  justify-content: center;
}

.button-start-recipes {
  background-color: white;
  border-radius: 5px;
  bottom: 0;
  color: #222;
  font-weight: 700;
  padding: 0.7em 1.2em;
  position: fixed;
  text-decoration: none;
  transition: 0.4s;
}

.button-start-recipes:hover {
  background-color: #e33d33;
  color: white;
}
